body{
    background-color: #ffffff;
  }
      .welcome-page-wrap {
    width: 80%; /* Set the width of the welcome page to 80% */
    margin: 0 auto; /* Center the welcome page */
    font-family: Arial, sans-serif; /* Set the font for the welcome page */
  }
  
  h1 {
    text-align: center; /* Center the heading */
    font-size: 2em; /* Set the font size to 2em */
    margin: 20px 0; /* Add a margin of 20px at the top and bottom of the heading */
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  
  p {
    font-size: 1.2em; /* Set the font size to 1.2em */
    line-height: 1.5; /* Set the line height to 1.5 */
    margin: 20px 0; /* Add a margin of 20px at the top and bottom of the paragraphs */
  }
  
  ul {
    list-style: none; /* Remove the bullet points from the list */
    margin: 0; /* Remove the margin from the list */
    padding: 0; /* Remove the padding from the list */
  }
  
  li {
    font-size: 1.2em; /* Set the font size to 1.2em */
    margin: 10px 0; /* Add a margin of 10px at the top and bottom of the list items */
  }
  
  a {
    color: #45a049; /* Set the color of the links to black */
    text-decoration: none; /* Remove the underline from the links */
    text-decoration: underline;
  }
  
  a:hover {
    color: #000; /* Set the color of the links on hover to grey */
    text-decoration: underline;
  }
  
  .donate-button {
    display: inline-block; /* Display the button as an inline block */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove the border from the button */
    border-radius: 4px; /* Add rounded corners to the button */
    background-color: #262484; /* Set the background color of the button to green */
    color: #FEDD04; /* Set the text color of the button to white */
    font-size: 1.2em; /* Set the font size of the button to 1.2em */
    text-align: center; /* Center the text of the button */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
  }
  
  .donate-button:hover {
    color: #262484;
    background-color: #FEDD04; /* Set the background color of the button on hover to a slightly darker green */
  }
  
  table {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  background-color: #fff;
  align-items: center;
  
}
th {
  background-color: #262484;
  font-weight: bold;
  color: #FEDD04;
  border: 0.5px solid #FEDD04;
}
td {
  border: 0.5px solid #FEDD04;
  padding: 10px;
  text-align: center;
}